.videoSmall {
  display: flex;
  width: 30vw;
  margin: 10px 0 17px;
  /* min-height: 90px;
    max-height: 90px; */
  height: 90px;
  cursor: pointer;
}

.videoSmall_channelView {
  margin-top: 80px !important;
}
.videoSmall:first-of-type {
  margin-top: 0px;
}

.videoSmall_channelView:first-of-type {
  margin-top: 80px !important;
}
.videoSmall_left {
  width: 14vw;
  margin-right: 10px;
}

.videoSmall_thumbnail {
  width: inherit;
  height: 95px;
}
.videoSmall_right {
  margin-right: 20px;
  max-width: 220px;
}
.videoSmall_title {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01px;
  margin: 0 0;
}
/* .videoSmall_texts {
  margin-top: 5px !important;
  align-self: bottom;
} */
.videoSmall_texts > p {
  font-size: 13px !important;
  margin: 3px 0;
  color: rgb(105, 101, 101);
}

.videoSmall_channelView {
  flex-direction: column;
  width: 220px;
}

.videoSmall_channelView_img {
  width: 200px !important;
}
