.app_page {
  display: flex;
}

.logo {
  width: 154px;
  margin-bottom: 45px;
}

.modalButton {
  color: white;
}

.app_signUp {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal_input{
  margin-bottom: 20px;
}

.modal_input_password{
  margin-bottom: 25px;
}

h3{
  margin: 16px 0 12px;
}
